<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJ32FTWR3J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GJ32FTWR3J');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Peel</title>
    <link rel="stylesheet" href="build/tailwind.css">
</head>

<body class="md:container bg-neutral-800 mx-auto font-mono text-neutral-100">
    <div class="items-center">
        <div class="w-1/2 md:w-1/4 mx-auto py-5">
            <img class="rounded-full" src="img/headshot_1024.jpg" alt="Ryan Headshot">
        </div>
        <div class="text-center mx-auto">
            <div class="text-3xl font-bold pb-4">Ryan Peel</div>
            <div class="text-lg">I'm a&nbsp;<div class="inline text-green-400" id="subHead"></div></div>
        </div>
    </div>


    <div class="p-5 text-center">
        <ul class="flex flex-col space-y-3 text-lg">
            <li class=""><a href="https://github.com/jetrp1">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/ryanpeeltexas/">Linkedin</a></li>
            <li><a href="https://discordapp.com/users/201558630938443777">Discord</a></li>
            <li><a href="mailto:ryan.l.peel+trdp@gmail.com">Email</a></li>
            <li><a href="/posts/">Blog</a></li>
            <!-- <li><a href="https://www.wechall.net/profile/jetrp1">WeChall Rank</a></li> -->
        </ul>
    </div>

    <div class="mx-2 pt-5 items-center justify-self-center">
        <div class="text-center font-bold mb-1 text-xl">
            Featured Projects
        </div>
        
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">

            <!-- Copy and Paste this entire section to add another Project listing-->
            <div class="p-3 border border-neutral-100 border-20 rounded-xl">
                <a href="posts/flipperzero-badusb-mouse-implementation/">
                     <div class="text-xl font-bold">
                        Flipper Zero: BADMouse
                    </div>
                    <div class="text-md">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis dolor velit eius pariatur exercitationem blanditiis molestiae odio. Dolorum soluta hic aut quasi assumenda eveniet quia deleniti necessitatibus maiores iste.
                        </p>
                    </div>
                </a>
            </div>

            <!-- Copy and Paste this entire section to add another Project listing-->
            <div class="p-3 border border-neutral-100 border-20 rounded-xl">
                <a href="posts/flipperzero-badusb-mouse-implementation/">
                    <div class="text-xl font-bold">
                        Flipper Zero: BADMouse
                    </div>
                    <div class="text-md">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis dolor velit eius pariatur exercitationem blanditiis molestiae odio. Dolorum soluta hic aut quasi assumenda eveniet quia deleniti necessitatibus maiores iste. 
                        </p>
                    </div>
                </a>
            </div>

            <!-- Copy and Paste this entire section to add another Project listing-->
            <div class="p-3 border border-neutral-100 border-20 rounded-xl">
                <a href="posts/flipperzero-badusb-mouse-implementation/">
                    <div class="text-xl font-bold">
                        Flipper Zero: BADMouse
                    </div>
                    <div class="text-md">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis dolor velit eius pariatur exercitationem blanditiis molestiae odio. Dolorum soluta hic aut quasi assumenda eveniet quia deleniti necessitatibus maiores iste.
                        </p>
                    </div>
                </a>
            </div>

            <!-- Copy and Paste this entire section to add another Project listing-->
            <div class="p-3 border border-neutral-100 border-20 rounded-xl">
                <a href="posts/flipperzero-badusb-mouse-implementation/">
                    <div class="text-xl font-bold">
                        Flipper Zero: BADMouse
                    </div>
                    <div class="text-md">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis dolor velit eius pariatur exercitationem blanditiis molestiae odio. Dolorum soluta hic aut quasi assumenda eveniet quia deleniti necessitatibus maiores iste.
                        </p>
                    </div>
                </a>
            </div>
                    
        </div>

    </div>

    <!-- Scripts -->
    <script src="js/script.js"></script>
</body>
</html>